@font-face {
    font-family: myFont;
    src: url(BodoniXT.ttf);
}

a#elizabeth{
    font-size: 24px;
}

#elizabeth{
    background-color: #373737;
    color: #f4f4f4;
}
.div { 
    display: inline-block;
    padding: 10px;
    width: 1000px;
}

#handle-report {
    padding: 50px;
    font-size: 14px;
}

#inquiry_report {
    padding: 100px;
    font-size: 14px;
}

#reply-form {
    padding: 50px;
    font-size: 14px;
}


#view-report {
    font-size: small;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #F4F4F4;
    
    
    font-family: sans-serif;
    /* Full height */
    min-height: 100vh; 

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

footer {
    width: 100%; 
    padding: 5% 0;
    background-color: #373737;
    color: #f4f4f4;
}

.navbar {
    padding: 1% 0;
    font-size: 1.2em;
    margin-bottom: 0px;
    background-color: #373737;
}

#flash-message {
    padding: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color: #c0b283;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #c0b283;
}

.nav-link{
    color: #c0b283;
}

.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px; 
}


#home{
    background: url("/static/img/hmhy_landingpage.png") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: bottom;
 	width: 100%;
    background-size: cover;
    padding-top: 70px;
    bottom: 1000px;
    background-size: 60%;
    background-color: rgb(234,234,235);
}

#block-content{
    background-color: #f4f4f4;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding-top: 110px;

}

#create-report {
    color: #373737;
    background-size: cover;
    padding: 50px;
    font-size: 14px;
    height: 100%;
    
}



.landing-text{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.padding {
    padding: 40px 0;
}

.padding img {
    width: 50%;
}

#fixed-also {
    background: url("/static/img/document.jpg") no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed {
    background: url("/static/img/office_space.jpg") no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed-user {
    background: url("/static/img/paper_bg.jpg") no-repeat center center fixed;
    display: table;
    height: 30%;
    position: relative;
    width: 100%;
    background-size: cover;
}


.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
}

#login {
    margin: 0;
    padding: 0;
    background: url("/static/img/old_typewriter.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}   

.loginbox {
    width: 320px;
    height 420px;
    background: #373737;
    color: #dcd0c0;
    top: 50%;
    left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
} 

.avatar {
    background: #373737;
    width: 200px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -14%;
    left: 67px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #373737;
    background: transparent;
    outline: none;
    height: 40px;
    color: #f4f4f4;
    font-size: 16px;
}

.card {
    margin: 0 auto;
}
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #c0b283;
    color: #373737;
    font-size: 18px;
    border-radius: 20px; 
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #dcd0c0;
    color: #f4f4f4;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey; 
}

.loginbox a:hover{
    color: #f4f4f4;
}

/* input form */
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  #savebtn {
    background-color: #f4f4f4;
    color: #373737;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  #submitbtn {
    background-color: #373737;
    color: #c0b283;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 0px;
    background-color: #dcd0c0;
    padding: 50px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  #genbtn {
      background-color: #c0b283
  }

  a{
      color: #373737;
      font-size: 16px;
  }

  .nav-tabs .nav-link {
    border: 1px solid;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #f4f4f4;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color #373737;
    background-color: #f4f4f4;
    border-color: #dee2e6 #dee2e6 #f4f4f4;
}

.fa-linkedin:before {
    content: "\f0e1";
    color: #f4f4f4;
}
.fa-facebook:before {
    content: "\f09a";
    color: #f4f4f4;
}
.fa-twitter:before {
    content: "\f099";
    color: #f4f4f4;
}
.fa-google:before {
    content: "\f1a0";
    color: #f4f4f4;
}
.fa-instagram:before {
    content: "\f16d";
    color: #f4f4f4;

