@font-face {
    font-family: myFont;
    src: url(BodoniXT.ttf);
}

.div { 
    display: inline-block;
    padding: 10px;
    width: 1000px;
}

#handle-report {
    padding: 50px;
    font-size: 14px;
}

#inquiry_report {
    padding: 50px;
    font-size: 14px;
}

#reply-form {
    padding: 50px;
    font-size: 14px;
}

#create-report {
    padding: 50px;
    font-size: 14px;
}

#view-report {
    font-size: small;
}

#block-content {
    padding: 100px;
    font-size: 14px;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #F4F4F4;
    
    font-family: myFont;
    src: url(BodoniXT.ttf);
    /* Full height */
    min-height: 100vh; 

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.navbar {
    padding: 1% 0;
    font-size: 1.2em;
    margin-bottom: 0px;
    background-color: #373737;
}

#flash-message {
    padding: 150px;
}

.navbar-light .navbar-nav .nav-link {
    color: #c0b283;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #c0b283;
}

.nav-link{
    color: #f4f4f4;
}

.navbar-brand{
    min-height: 55px;
    padding: 0 15px 5px; 
}


#home{
    background: url("/static/img/hmhy_landingpage.png") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: bottom;
 	width: 100%;
    background-size: cover;
    padding-top: 70px;
    bottom: 1000px;
    background-size: 60%;
    background-color: rgb(234,234,235);
}

#blank-page{
    background-color: #F4F4F4;
    display: table;
    height: 100%;
    position: bottom;
 	width: 100%;
    background-size: cover;
    padding-top: 70px;
    bottom: 1000px;
}


.landing-text{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.padding {
    padding: 40px 0;
}

.padding img {
    width: 50%;
}

#fixed-also {
    background: url("/static/img/document.jpg") no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#fixed {
    background: url("/static/img/office_space.jpg") no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
}

