
{% extends 'base.html'%}
    {% block title %}Incident Report{% endblock %}

{% block content %}

<h1>Incident Report</h1>

<form action="/handle-report" method="POST">

    <div class="div">

        <label>Today's Date: </label>
        <input type="date" name="todays_date" placeholder="today's date"><br>

        <label>Incident Date: </label>
        <input type="date" name="incident_date" placeholder="incident date"><br>

 		<label>Location:  </label>
        <input type="text" name="location" placeholder="location"><br>       

        <label>Witness:  </label>
        <input type="text" name="witness" placeholder="witness" ><br>
        <p>
        <label>Inquiry text:  </label>
        <textarea type="text"
                name="inquiry_text"
                id = "myTextArea"
                rows = "15"
                cols = "80"> </textarea><br>
    	</p>

        <label>Anonymous:  </label>
        <input type="radio" name="anonymous" value="true" id="anonymous"> True 
        <input type="radio" name="anonymous" value="false" id="anonymous"> False <br>
        <button>Save to Archive</button><br>
        <button>Submit to Ombuds</button>
    </div>
    
</form>

{% endblock %}