
{% extends 'base.html'%}
    {% block title %}Incident Report{% endblock %}

{% block content %}



<form action="/handle-report" method="POST">

    <div id="handle-report">
        <h3>Incident Report</h3>

        <label>Today's Date: </label>
        <input type="date" name="todays_date" placeholder="today's date"><br>

        <label>Incident Date: </label>
        <input type="date" name="incident_date" placeholder="incident date"><br>

 		<label>Location:  </label>
        <input type="text" name="location" placeholder="location"><br>       

        <label>Witness:  </label>
        <input type="text" name="witness" placeholder="witness" ><br>
        <p>
        <label>Inquiry text:  </label>
        <textarea type="text"
                name="inquiry_text"
                id = "myTextArea"
                rows = "15"
                cols = "80"> </textarea><br>
    	</p>

        <label>Anonymous:  </label>
        <input type="radio" name="anonymous" value="1" id="anonymous"> True 
        <input type="radio" name="anonymous" value="0" id="anonymous"> False <br>
        
        <input type="submit" formaction="/save-report" name="action" value="Save to Archive"/><br>
        <button>Submit to HearMe</button><br>
    </div>
    
</form>


{% endblock %}