
{% extends 'base.html'%}
{% block title %}HearME{% endblock %}

{% block content %}
<h1>Welcome to HearMe</h1>
<form action="/login" method="POST">
    <div class="login">
        <label>Email</label>
        <input type="text" name="email" placeholder="email" required><br>

        <label>Password </label>
        <input type="text" name="password" placeholder="password" required><br>
        <button>Login</button><br>
    </div>
</form>

<form action="/register">
    <div class="register">
     <button>Register</button>
    </div>
</form>

<section id="services" class="container">
    <h2 class="display-4 text-center mt-5 mb-3">Our Services</h2>
    
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="design.jpg" alt="Design">
                <div class="card-body">
                <h4 class="card-title">Empower Employees</h4>
                <p class="card-text">Give employees a safe space to address their concerns.</p>
                </div>
                <div class="card-footer py-4">
                <a href="#" class="btn btn-secondary">See portfolio &raquo;</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="development.jpg" alt="Development">
                <div class="card-body">
                <h4 class="card-title">Development</h4>
                    <p class="card-text">You need software that works on every device. 
                    Leverage the latest technologies and the most powerful tools!</p>
                </div>
                <div class="card-footer py-4">
                <a href="#" class="btn btn-secondary">See projects &raquo;</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="analytics.jpg" alt="Analytics">
                <div class="card-body">
                <h4 class="card-title">Analytics</h4>
                <p class="card-text">Consult our experts to set up proper goals and 
                find the best stack for your next application!</p>
                </div>
                <div class="card-footer py-4">
                <a href="#" class="btn btn-secondary">See testimonials &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</section>

   

{% endblock %}