
{% extends 'base.html'%}
{% block title %}HearME{% endblock %}

{% block content %}
    <h1>Welcome to HearMe</h1>
    <form action="/login" method="POST">
        <div class="login">
            <label>Email</label>
            <input type="text" name="email" placeholder="email" required><br>

            <label>Password </label>
            <input type="text" name="password" placeholder="password" required><br>
            <button>Login</button><br>
        </div>
    </form>

    <form action="/register">
        <div class="register">
        <button>Register</button>
        </div>
    </form>

{% endblock %}