<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Login/Register</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"/>
    
    <link rel="stylesheet" type="text/css" href="/static/css/slidinglogin.css">
    
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/register" method="POST">
			<h1>Create Account</h1>
            <input type="text" name="fname" placeholder="First Name" required/>
            <input type="text" name="lname" placeholder="Last Name" required/>
			<input type="email" name="email" placeholder="Email" required/>
			<input type="password" name="password" placeholder="Password" required/>
			<button>Sign Up</button>
		</form>
	</div>

	<div class="form-container sign-in-container">
		<form action="/login" method="POST">
			<h1>Sign in</h1>
			<input type="email" name="email" placeholder="Email" required/>
			<input type="password" name="password" placeholder="Password" required/>
			<button>Sign In</button>
		</form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>Login with your email and password.</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
					<img src="/static/img/200logo.png">
				<p>Create an account.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/login_signup.js"></script>
</head>
	<body>
		<div id="flash-message">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
        </div>
	</body>
</html>

