
{% extends 'base.html'%}
{% block title %}Incident Report{% endblock %}

{% block content %}
<div id="root"></div>

<h1> Today's date:{{todays_date}}</h1></br>
<h1> Incident date:{{incident_date}}</h1></br>
<h1> Location:{{location}}</h1></br>
<h1> Witness:{{witness}}</h1></br>
<h1> Inquiry Text:{{inquiry_text}}</h1></br>
<h1> Anonymous:{{anonymous}}</h1></br>

class Todays_date extends React.Component {
    render() {
        return<p> Today's Date: {this.props.Todays_date}</p>
    }
}

ReactDOM.render(
    <Todays_date />,
    document.getElementById("root")
);

{% endblock %}

