<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Login Form</title>
    
    <body id="login">
        <div id="flash-message">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
        </div>
        <div class="loginbox">
            <img src="/static/img/200logo.png" class="avatar">
            <h1> Login Here</h1>
            <form action="/login" method="POST">
                <p>Email</p>
                <input type="text" name="email" placeholder="Enter Email" required>
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password" required>
                <input type="submit" name="" value="Login"><br>
            </form>
            <form action="/register">
                <a href="/register"> Don't have an account?</a>
            </form>

        </div>

    </body>

</head>
</html>