<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Registration</title>

    <body id="login">
        <div class="loginbox">
            <img src="/static/img/200logo.png" class="avatar">
            <h1> Register Here</h1>
            <form action="/register" method="POST">
                <p>First Name: </p>
                <input type="text" name="fname" placeholder="First Name" required>
                <p>Last Name: </p>
                <input type="text" name="lname" placeholder="Last Name" required>
                <p>Email: </p>
                <input type="text" name="email" placeholder="Email" required>
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password" required>
                <input type="submit" name="" value="Register"><br>
            </form>
        </div>
</form>

