
{% extends 'base.html'%}
{% block title %}Incident Report{% endblock %}

{% block content %}

<h1>Register for HearMe</h1>

<form action="/register" method="POST">

<div class="registration_form">

    <label>First Name: </label>
    <input type="text" name="fname" placeholder="First Name" required><br>
    <label>Last Name: </label>
    <input type="text" name="lname" placeholder="Last Name" required><br>
    <label>Email: </label>
    <input type="email" name="email" placeholder="Email" required><br>
    <label>Password: </label>
    <input type="password" name="password" placeholder="password" required><br>
    <button>Submit</button>
</div>

</form>

{% endblock %}