{% extends 'base.html'%}
{% block content %}
    
    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
   

    <form action="/create-report">
        <div>
            <button>Generate New Report</button>
        </div>
    </form>

    {% if user.inquiries %}
        <h2>View Submitted Inquiries</h2>
        <ul>
            {% for inquiry in user.inquiries %}
                {% if inquiry.archive != True %}
                <li>
                    <a href="/inquiry/{{ inquiry.inquiry_id }}"> Inquiry ID: {{ inquiry.inquiry_id }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.inquiries %}

        <h2>View Saved Inquiries</h2>
        <ul>
            {% for inquiry in user.inquiries %}
                {% if inquiry.archive == True %}
                <li>
                    <a href="/inquiry/{{ inquiry.inquiry_id }}"> Inquiry ID: {{ inquiry.inquiry_id }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        
    {% endif %}


    
{% endblock %}