{% extends 'base.html' %}
{% block title %}Admin View{% endblock %}
{% block content %}



<div id="user-list">
    <div class="header">
        <h2>Welcome Admin!</h2>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/img/users_icon.png" class="card-img" alt="picture of file rack">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Inquiries by Users</h5>
                    <p class="card-text">
                        <ul>
                            {% for user in users %}
                            <li>
                                <a href="/user/{{ user.user_id }}">
                                    {{ user.email }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/img/anonymous_icon.png" class="card-img" alt="picture of mail slot labeled private">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Anonymous Submissions</h5>
                    <p class="card-text">
                        <ul>
                            {% for inquiry in inquiries %}
                            {% if inquiry.anonymous == True %}
                            <li>
                                <a href="/inquiry/{{ inquiry.inquiry_id }}"> Inquiry ID: {{ inquiry.inquiry_id }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}