{% extends 'base.html'%}
{% block title %}User's Page{% endblock %}
{% block content %}


<div id=create-report>
    <div class="header">
        <h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/img/new_report_icon.png" class="card-img" alt="person typing on a typewriter">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Generate New Report</h5>
                    <p class="card-text">
                        <form action="/create-report">
                            <div>
                                <button class="btn btn-light" id="genbtn">New</button>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/img/submitted_icon.png" class="card-img" alt="picture of mailbox">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Submitted Reports</h5>
                    <p class="card-text">
                        {% if user.inquiries %}
                        <ul>
                            {% for inquiry in user.inquiries %}
                            {% if inquiry.archive != True and inquiry.anonymous != True %}
                            <li>
                                <a href="/inquiry/{{ inquiry.inquiry_id }}"> Inquiry ID: {{ inquiry.inquiry_id }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/img/anonymous_icon.png" class="card-img" alt="picture of mail slot labeled private">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Anonymous Submissions</h5>
                    <p class="card-text">
                        <div class="tab-pane fade" id="anonymous-reports">
                            {% if user.inquiries and session["user_id"] != 6%}
                            {% if user.inquiries %}
                            <ul>
                                {% for inquiry in user.inquiries %}
                                {% if inquiry.anonymous == True %}
                                <li>
                                    <a href="/inquiry/{{ inquiry.inquiry_id }}"> Inquiry ID:
                                        {{ inquiry.inquiry_id }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endif %}
                        </div>

                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/img/archive_icon.png" class="card-img" alt="pic of storage room">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Saved For Later</h5>
                    <p class="card-text">
                        {% if user.inquiries and session["user_id"] != 6%}
                        <div class="row">
                            <ul>
                                {% for inquiry in user.inquiries %}
                                {% if inquiry.archive == True %}
                                <li>
                                    <a href="/inquiry/{{ inquiry.inquiry_id }}"> Inquiry ID:
                                        {{ inquiry.inquiry_id }}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


</div>


{% endblock %}