
{% extends 'base.html'%}
{% block title %}Report #{{ inquiry.inquiry_id }}{% endblock %}

{% block content %}


<div id="inquiry_report">
    <h1>
        Incident
    </h1>

    <h3> Today's date:{{ inquiry.todays_date }}</h3></br>
    <h3> Incident date:{{ inquiry.incident_date }}</h3></br>
    <h3> Location:{{ inquiry.location }}</h3></br>
    <h3> Witness:{{ inquiry.witness }}</h3></br>
    <h3> Inquiry Text:{{ inquiry.inquiry_text }}</h3></br>
    <h3> Anonymous:{{ inquiry.anonymous }}</h3></br>

</div>

<div id="inquiry_response">

    {% if response %}
    <h1>
        Response
    </h1>
    {% endif %}
</div>


{% endblock %}